behave==1.2.6
cachier==1.5.3
certifi==2021.10.8
charset-normalizer==2.0.12
class-registry==2.1.2
click==7.1
filters==1.3.2
gTTS==2.2.4
idna==3.3
loguru==0.5.3
MessageHandler==1.0.2
packaging==21.3
parse==1.19.0
parse-type==0.6.0
pathtools==0.1.2
pdftotext==2.2.2
plumbum==1.7.1
portalocker==2.4.0
pymongo==3.12.1
pyparsing==3.0.9
PySocks==1.7.1
pyTelegramBotAPI==4.4.0
python-dateutil==2.8.2
python-rex==0.4
pyttsx3==2.90
pytz==2022.1
PyYAML==5.4.1
regex==2022.6.2
requests==2.26.0
six==1.16.0
telegram==0.0.1
updater==0.3.2
urllib3==1.26.9
watchdog==2.1.9
